/* === SIM Type Plan Detail === */
.formFrame.selectSIM .custom-control.custom-radio .custom-control-input:checked~.custom-control-label{
	font-family:"JioTypeW04-Bold";
}
/* === SIM Type Plan Detail end === */

.hidden_first
{
	display:none;
}

.bg_grey
{
	background:#ccc;
}

.icicd-img
{
	position: absolute;
    right: 0px;
    top: 0px;
}